* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: lightblue;
    font-family: 'Segoe UI', Roboto, sans-serif;

}
 h1 {
      margin:0 auto 1rem auto;
     text-align:center;
      padding-bottom:10px;
      
 }

main {
    background-color: white;
    width: 70%;
    margin: 0 auto 1rem auto;
    padding: 0 1rem 2rem 1rem;
}

header {
    background-color: skyblue;
    border-radius: .25rem;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
}

header img {
    float:right;
    max-width: 200px;
}


legend {
    color: green;
    font-variant: bold;
    font-size: 1.5rem;
    padding: 0 1rem;
    margin:auto;
}

fieldset {
    border: 1px solid grey;
    padding: 1rem;
    margin-bottom: 1.25rem;
}

label {
    display: block;
    padding-bottom: .2rem;
}

input[type="text"], textarea, select {
    width: 100%;
    border: 1px solid black;
    border-radius: .25rem;
    margin-bottom: 1rem;
    padding: .75rem;
}

#order-button {
    background-color:green;
    color:white;
}

